@import '../../styles/variables';

#div-homecard-card {
    background-image: $site-background-image-gradient;
    border-radius: .5%;
    border-width: .5em;
    box-shadow: $site-box-shadow;
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
}

#div-homecard-stitch {
    margin-left: .2em;
    margin-right: .2em;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(50, 50, 50);
}

#p-homecard-back-link {
    @include common-text;
    transition: $site-transition;
    margin-left: 1%;
    margin-top: .5%;
    max-height: .75em;
    font-size: $fs-content;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
}

#p-homecard-back-link:hover {
    transform: $site-transform;
}

#div-stitchBottom {
    @include stitch-bottom;
}

#div-homecard-title {
    @include flex-center;
    width: 100%;
}

#h1-homecard-title {
    @include common-text;
    font-weight: lighter;
    font-size: 300%;
    letter-spacing: $site-letter-spacing;
    text-align: center;
    padding-top: .5em;
    max-width: 10em;
    text-decoration: underline dashed gray 1px;
}

#div-homecard-article-card {
    flex-direction: column;
    padding-bottom: 2em;
}

#div-homecard-pagination {
    @include flex-center;
    padding-bottom: 1em;
}

#div-homecard-items-pagination {
    display: block;
}

.pagination {
    border-radius: 8%;
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.page-link {
    color: whitesmoke;
    border-color: #818181;
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 120%;
}

.page-item .page-link {
    background-color: $site-disabled-background-color;
    -webkit-tap-highlight-color: transparent;
}

.page-item.active .page-link {
    background-color: #212121;
    border-color: #818181;
    color: #818181;
}

.page-item.disabled .page-link {
    background-color: #414141;
    border-color: #818181;
    color: #818181;
}

.disabled:active {
    border: none;
    box-shadow: none;
}

.page-link:hover {
    background-color: #dbcfb7;
    color: gray;
}

.page-link:active {
    border: none;
    box-shadow: none;
}

.pagination {
    border-width: .01em;
    border-style: dashed;
    border-color: $site-active-background-color;
}

@media screen and (max-width: 1400px) {
    #h1-homecard-title {
        font-size: 250%;
    }
}

@media screen and (max-width: 1200px) {
    #div-homecard-card {
        margin-top: 1em;
    }
}

@media screen and (max-width: 800px) {
    .pagination {
        line-height: 1.1;
    }

    #div-homecard-pagination {
        margin-top: -1.5em;
        margin-bottom: -1.5em;
    }

    #div-homecard-card {
        margin-top: $card-vertical-margin-mobile;
        box-shadow: $site-box-shadow-top-reduced; // reduce top of box shadow on mobile view
    }
}

@media screen and (max-width: 700px) {
    #h1-homecard-title {
        font-size: 200%;
        padding-top: .1em;
        margin-bottom: 0em;
    }

    #p-homecard-back-link {
        font-size: 120%;
    }
}


@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";