@import '../../styles/variables';

#div-homecard-card {
    background-image: var(--site-background-image-gradient);
    border-radius: 15px;
    border-width: .5em;
    box-shadow: var(--site-box-shadow);
    margin-top: $card-vertical-margin;
    padding-top: .1em;
    padding-bottom: .1em;
}

#div-homecard-stitch {
    @include stitch;
}

#p-homecard-back-link {
    @include common-text;
    transition: $site-transition;
    margin-left: 1%;
    margin-top: .5%;
    max-height: .75em;
    font-size: $fs-content;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
}

#p-homecard-back-link:hover {
    transform: $site-transform;
}

#div-stitchBottom {
    @include stitch-bottom;
}

#div-homecard-title {
    @include unselectable;
    // @include flex-center;
    width: 100%;
}

.section-title {
    @include common-text;
    font-size: var(--site-size-header-full);

}

#h1-homecard-title {
    
    letter-spacing: $site-letter-spacing;
    text-align: left;
    padding-top: .5em;
    padding-left: .5em;
    max-width: 10em;
    background-image: var(--site-text-color-title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

#div-homecard-article-card {
    flex-direction: column;
    padding-bottom: 2em;
}

#div-homecard-pagination {
    @include flex-center;
    padding-bottom: 1em;
}

#div-homecard-items-pagination {
    display: block;
}

.pagination {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.page-link {
    color: var(--site-text-color);
    border-color: var(--site-text-color);
    font-family: var(--site-font);
    font-weight: bold;
    min-height: 30px;
    display: flex;
    align-items: center;
    font-size: var(--site-size-hccTags-full);
    @media screen and (max-width: 800px) {
        font-size: var(--site-size-hccTags-1400);
    }
}

.page-item .page-link {
    background-color: var(--site-background-color-input);
    -webkit-tap-highlight-color: transparent;
}

.page-item.active .page-link {
    background-color: var(--site-background-color-input);
    border-color: var(--site-text-color);
    color: var(--site-text-color-alt);
}

.page-item.disabled .page-link {
    background-color: var(--site-background-color-input-alt);
    border-color: var(--site-text-color);
    color: var(--site-text-color);
}

.disabled:active {
    border: none;
    box-shadow: none;
}

.page-link:hover {
    background-color: var(--site-background-color-input-alt);
    border-color: var(--site-background-color-input-alt);
    color: var(--site-text-color);
}

.page-link:active {
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 1400px) {
    .section-title {
        font-size: var(--site-size-header-1400);
    }
}

@media screen and (max-width: 1200px) {
    #div-homecard-card {
        margin-top: 1em;
    }
}

@media screen and (max-width: 800px) {
    .pagination {
        line-height: 1.1;
    }

    #div-homecard-pagination {
        margin-top: -1.5em;
        margin-bottom: -1.5em;
    }

    #div-homecard-card {
        margin-top: $card-vertical-margin-mobile;
        box-shadow: var(--site-box-shadow-top); // reduce top of box shadow on mobile view
    }

    .section-title {
        font-size: var(--site-size-header-800);
    }

    #h1-homecard-title {
        padding-top: .25em;
        margin-bottom: 0em;
    }
}

@media screen and (max-width: 700px) {
    

    #p-homecard-back-link {
        font-size: 120%;
    }
}


@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";