body.loading-active #articlescomponent-container {
    display: none;
}

@import '../../config/variables';

#div-articles-component {
    @include flex-center;
    @include container-width;
    @include container-margin;
}

#articlescomponent-container {
    @include flex-center;
    width: 100%;

    #div-articlescomponent-card {
        display: block;
        width: 100%;
    }
}