@import '../../styles/variables';

#div-articlesidecard-card {
    background-image: var(--site-background-image-gradient);
    margin-top: $card-vertical-margin;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 15px;
    box-shadow: var(--site-box-shadow);
}

#div-articlesidecard-stitch {
    @include stitch;
}

@media screen and (max-width: 1200px) {
    #div-articlesidecard-card {
        margin-top: .5em;
    }
}