@import '../../styles/variables';

#div-articlesidecard-card {
    background-image: var(--site-background-image);
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
}

#div-articlesidecard-stitch {
    @include stitch;
}