@import '../../styles/variables';

#div-articlesidecard-card {
    background-image: var(--site-background-image-gradient);
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
    box-shadow: var(--site-box-shadow);
}

#div-articlesidecard-stitch {
    @include stitch;
}