# Local or Cloud ('local' or 'cloud')
NEXT_PUBLIC_ENV='cloud'
# Strapi Local (Full URL of local strapi instance)
NEXT_PUBLIC_API_URL_LOCAL=http:/xxx:xxxx
# Strapi Cloud (Full URL of Strapi Cloud instance)
NEXT_PUBLIC_API_URL_CLOUD=https://xxx.strapiapp.com
# Local token
NEXT_PUBLIC_API_TOKEN_LOCAL=''
# Cloud token
NEXT_PUBLIC_API_TOKEN_CLOUD=''

# Home Local (Full URL of local personal site)
NEXT_PUBLIC_HOME_LOCAL=http://xxx:xxxx
# Home Cloud (Full URL of deployed personal site)
NEXT_PUBLIC_HOME_CLOUD=https://example.com