@import '../../styles/variables';

#div-articlesidecardcontent-container {
    @include stitch-bottom;
    display: flex;
    transition: $site-transition;
    padding-bottom: 1em;
    padding-top: 1em;
}

.article-link {
    text-decoration: none;
}

#div-articlesidecardcontent-container:hover {
    background-color: var(--site-hover-color);
}

#div-articlesidecardcontent-image {
    @include flex-center;
    width: 50%;
    align-items: center;
    margin-left: .5%;
    align-items: center;
    overflow: hidden;
    padding-left: 1em;
}

#div-articlesidecardcontent-title {
    @include flex-center;
    width: 50%;
    margin-top: 1.5%;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#image-articlesidecardcontent {
    @include common-image;
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: .75;
    box-sizing: border-box; // Ensures border is included in width
    display: block;
}

#p-articlesidecardcontent-title {
    @include common-text;
    @include pm-reset;
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 150%;
}



@media screen and (max-width: 1200px) {
    .description {
        width: 100%;
    }

    #div-articlesidecardcontent-image {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    #div-articlesidecardcontent-image {
        width: 20%;
    }
}

@media screen and (max-width: 700px) {
    .description {
        width: 100%;
    }

    .date {
        padding-top: 0.25em;
    }

    #div-articlesidecardcontent-container {
        height: 5%;
    }

    #div-articlesidecardcontent-image {
        width: 30%;
    }

    #div-articlesidecardcontent-title {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #p-articlesidecardcontent-title {
        font-size: 100%;
        width: 50%;
    }

    .date {
        font-size: 60%;
    }
}

@media screen and (max-width: 440px) {
    .description {
        font-size: 65%;
    }

    .date {
        font-size: 55%;
    }
}