@use '../../config/variables' as *;

.article-link {
    text-decoration: none;
    width: 100%;

    #div-articlesidecardcontent-container {
        @include stitch-bottom;
        display: flex;
        transition: $site-transition;
        padding-bottom: 1em;
        padding-top: 1em;

        &:hover {
            background-color: var(--site-hover-color);
        }

        @media screen and (max-width: 700px) {
            height: 5%;
        }

        #div-articlesidecardcontent-image {
            @include flex-center;
            width: 35%;
            align-items: center;
            // margin-left: .5em;
            padding-left: 1em;
            box-sizing: border-box;

            @media screen and (max-width: 1200px) {
                width: 25%;
            }
            @media screen and (max-width: 1000px) {
                width: 25%;
            }
            @media screen and (max-width: 700px) {
                width: 30%;
            }

            #image-articlesidecardcontent {
                @include common-image;
                overflow: hidden;
                aspect-ratio: 1 / 1; /* Ensures the image is always square */
                // min-height: 75px;
                // min-width: 75px;
                object-fit: cover;
                opacity: .75;
                display: block;
            }
        }

        #div-articlesidecardcontent-title {
            @include flex-center;
            width: 65%;
            margin-top: 1.5%;
            flex-direction: column;
            margin-left: 2.5%;
            margin-right: 2.5%;

            @media screen and (max-width: 700px) {
                width: 70%;
            }

            #p-articlesidecardcontent-title {
                @include common-text;
                @include pm-reset;
                display: flex;
                justify-content: left;
                font-weight: bold;
                text-wrap: balance;
                font-size: var(--site-size-ascTitle-full);

                @media screen and (max-width: 1400px) {
                    font-size: var(--site-size-ascTitle-1400);
                }
                @media screen and (max-width: 800px) {
                    font-size: var(--site-size-ascTitle-800);
                }
            }

            #p-articlesidecardcontent-author {
                @include common-text;
                @include pm-reset;
                display: flex;
                justify-content: left;
                font-size: var(--site-size-ascAuth-full);

                @media screen and (max-width: 1400px) {
                    font-size: var(--site-size-ascAuth-1400);
                }
                @media screen and (max-width: 800px) {
                    font-size: var(--site-size-ascAuth-800);
                }
            }
        }
    }
}

.description {
    width: 100%;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.date {
    @media screen and (max-width: 700px) {
        padding-top: 0.25em;
    }
}