@import '../../styles/variables';

#div-homemobilecard-container {
    @include common-text;
    background-image: $site-background-image-gradient;
    box-shadow: $site-box-shadow;
    border-radius: .5%;
    border-width: .5em;
    margin-top: .75em;
    padding-top: .2em;
    padding-bottom: .2em;
}

#div-homemobilecard-stitch {
    @include stitch;
}

#div-homemobilecard-content-container {
    display: flex;
}

#div-homemobilecard-image {
    width: 40%;
    object-fit: contain;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-.8deg);
    border: solid rgb(50, 50, 50);
}

#image-homemobilecard-image {
    width: 100%;
}

#div-homemobilecard-title-content {
    width: 60%;
    margin-right: .5em; 
}

#p-homemobilecard-title {
    @include common-text;
    text-align: center;
    padding-top: 5%;
    font-size: 300%;
    font-weight: lighter;
    text-decoration: underline dashed gray 1px;
}

#p-homemobilecard-content {
    @include common-text;
    font-size: 100%;
    padding-left: .5em;
}




@media screen and (max-width: 600px) {
    #p-homemobilecard-title {
        font-size: 270%;
    }

    #p-homemobilecard-content {
        font-size: 90%;
    }
}

@media screen and (max-width: 545px) {
    #p-homemobilecard-title {
        font-size: 220%;
    }
}

@media screen and (max-width: 450px) {
    #p-homemobilecard-title {
        margin-left: -50%;
    }

    #p-homemobilecard-content {
        font-size: 80%;
    }

    #div-homemobilecard-image {
        width: 35%;
    }

    #div-homemobilecard-title-content {
        width: 65%; 
    }
}

@media screen and (max-width: 370px) {
    #p-homemobilecard-title {
        margin-left: -50%;
    }
}