@import '../../styles/variables';

#div-homecardcontent-container {
    @include flex-center;
    @include stitch-bottom;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: $site-transition;
}

.article-link {
    text-decoration: none;
}

#div-homecardcontent-container:hover {
    background-color:$site-hover-color;
}

#div-homecardcontent-image {
    @include flex-center;
    width: 25%;
    max-width: 200px;
    margin-left: .5em;
    align-items: center;
    overflow: hidden;
}

#div-homecardcontent-article-info {
    @include flex-center;
    width: 75%;
}

#div-homecardcontent-title-date-tags {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

#image-homecardcontent-image {
    @include common-image;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#p-homecardcontent-title {
    width: 95%;
    margin: 0;
    margin-left: 2%;
    display: flex;
    justify-content: left;
    text-align: left;
    font-weight: bold;
    font-family: var(--site-font);
    color: #818181;
    text-shadow: .05em .05em .05em #494949;
    text-wrap: balance;
    cursor: default;
    letter-spacing: 0.03em;
}

#p-homecardcontent-author-date {
    width: 95%;
    text-align: left;
    margin: 0;
    margin-left: 2%;
    font-size: 150%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    font-family: $site-font;
    cursor: default;
}

#span-homecardcontent-date, #span-homecardcontent-author {
    margin-left: .3em;
    margin-right: .3em;
}

#span-homecardcontent-author {
    transition: all .2s ease-in-out; 
    cursor: pointer;
    text-align: end;
    display: inline-block; /*Necessary for transform to work*/
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

#span-homecardcontent-date {
    text-align: start;
}

#div-homecardcontent-tags {
    display: flex;
    overflow: hidden;
    gap: 0 .2em;
    width: 90%;
}

#tags-ellipsis-wrapper {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-left: 2%;
    text-align: left;
}

.p-homecardcontent-tags {
    display: inline-block;
    white-space: nowrap;
    font-size: 150%;
    color: $site-text-color;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    margin-right: 1em;
    margin-left: 3px; // So that text does not get cut off
    font-family: $site-font;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.p-homecardcontent-tags:hover, #span-homecardcontent-author:hover {
    transform: scale(1.1);
}

#article-card-link {
    text-decoration: none;
}

// Page text styles
#p-homecardcontent-title {
    font-size: 250%;
}

#p-homecardcontent-author-date {
    font-size: 150%;
}

#div-homecardcontent-tags {
    font-size: 90%;
}

// Responsive styles

@media screen and (max-width: 1600px) {
    // Text styles
    #p-homecardcontent-title {
        font-size: 200%;
    }

    #p-homecardcontent-author-date {
        font-size: 140%;
    }

    #div-homecardcontent-tags {
        font-size: 80%;
    }
}

@media screen and (max-width: 700px) {
    // Text styles
    #p-homecardcontent-title {
        font-size: 180%;
    }

    #p-homecardcontent-author-date {
        font-size: 125%;
    }

    #div-homecardcontent-tags {
        font-size: 75%;
    }

    // Div styles
    #div-homecardcontent-image {
        width: 33.33%;
    }

    #div-homecardcontent-article-info {
        width: 66.66%;
    }
}

@media screen and (max-width: 600px) {
    // Text styles
    #p-homecardcontent-title {
        font-size: 160%;
    }

    #p-homecardcontent-author-date {
        font-size: 110%;
    }

    #div-homecardcontent-tags {
        font-size: 70%;
    }
}

@media screen and (max-width: 500px) {
    // Text styles
    #p-homecardcontent-title {
        font-size: 140%;
        letter-spacing: 0.03em;
        margin-left: 4%;
    }

    #p-homecardcontent-author-date {
        font-size: 90%;
        margin-left: 4%;
    }

    #div-homecardcontent-tags {
        font-size: 60%;
        margin-left: 2%;
    }
}