#div-homecardcontent-container {
    background: none;
    width: 100%;
    text-align: center;
    border-bottom-width: .05em;
    border-bottom-style: dashed;
    border-bottom-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: background-color 1s ease-out 100ms;
    max-height: 20em;
}

.article-link {
    text-decoration: none;
}

#div-homecardcontent-container:hover {
    background-color:rgba(17, 17, 17, 0.5);
}

#div-homecardcontent-image {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

#div-homecardcontent-article-info {
    width: 75%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
}

#div-homecardcontent-title-date-tags {
    width: 100%;
}

#image-homecardcontent-image {
    /* height: 100%; */
    object-fit: contain;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
    border: solid rgb(50, 50, 50);
    opacity: .75;
}

#p-homecardcontent-title {
    margin: 0;
    margin-left: 5%;
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 300%;
    font-family: Bilbo, sans-serif;
    color: #818181;
    text-shadow: .05em .05em .05em #494949;
    white-space: nowrap;
}

#p-homecardcontent-author-date {
    text-align: left;
    margin: 0;
    margin-left: 5%;
    font-size: 150%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    font-family: Bilbo, sans-serif;
}

#span-homecardcontent-date, #span-homecardcontent-author {
    margin-left: .3em;
    margin-right: .3em;
}

#span-homecardcontent-author {
    transition: all .2s ease-in-out; 
    cursor: default;
    text-align: end;
    display: inline-block; /*Necessary for transform to work*/
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

#span-homecardcontent-date {
    text-align: start;
}

#div-tag-stitch {
    border-bottom-width: .1em;
    border-bottom-style: solid;
    border-color: rgb(50, 50, 50);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: .5em;
    opacity: .5;
}

#div-homecardcontent-tags {
    display: flex;
    margin-left: 5%;
}

.p-homecardcontent-tags {
    font-size: 150%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    /* margin-left: .5em; */
    margin-right: 1em;
    font-family: Bilbo, sans-serif;
    transition: all .2s ease-in-out; 
    cursor: default;
}

.p-homecardcontent-tags:hover, #span-homecardcontent-author:hover {
    transform: scale(1.1);
}

#article-card-link {
    text-decoration: none;
}



@media screen and (max-width: 1200px) {
    #div-homecardcontent-tags {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #div-homecardcontent-image {
        width: 40%;
        margin-left: 0%;
    }

    #image-homecardcontent-image {
        margin-left: -2em;
    }

    #div-homecardcontent-title-date-tags {
        width: 70%;
        margin-right: .5em;
        margin-left: -2.5em;
    }
}

@media screen and (max-width: 700px) {
    #div-homecardcontent-tags {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #p-homecardcontent-title {
        font-size: 120%;
        padding-left: 1%;
    }

    .p-homecardcontent-tags {
        font-size: 90%;
    }
}

@media screen and (max-width: 450px) {
    #p-homecardcontent-title {
        font-size: 100%;
        padding-left: 1%;
    }

    .p-homecardcontent-tags {
        font-size: 80%;
    }
}