#div-articlecomponent-full-article-container {
    display: inline-block;
    justify-content: center;
    max-width: 1920px;
    padding-left: 3%;
    padding-right: 3%;
}

#div-articlecomponent-full-article {
    width: 100%;
    box-shadow: 0em 0em .8em .15em rgba(255, 255, 255, 0.199);
}

#div-articlecomponent-full-article-side-card {
    width: 100%;
    box-shadow: 0em 0em .8em .15em rgba(255, 255, 255, 0.199);
}

@media screen and (max-width: 700px) {
    #div-articlecomponent-full-article {
        width: 100%;
    }
    
    #div-articlecomponent-full-article-side-card {
        width: 100%;
    }
}