@import '../../styles/variables';

#div-articlecomponent-full-article-container {
    @include container-padding;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: $site-container-max-width;
    // Styles needed for consistent width on iOS
    box-sizing: border-box;
    width: 100vw;
}

#div-articlecomponent-full-article {
    width: 70%;
    margin-right: .75%;
}

#div-articlecomponent-full-article-side-card {
    width: 30%;
    margin-left: .75%;
}

@media screen and (max-width: 1200px) {
    #div-articlecomponent-full-article-container {
        justify-content: center;
        flex-direction: column;
    }

    #div-articlecomponent-full-article {
        width: 100%;
        margin-right: 0;
    }
    
    #div-articlecomponent-full-article-side-card {
        width: 100%;
        margin-left: 0;
    }
}