@use '../../config/variables' as *;

body.loading-active #div-articlecomponent-full-article-container {
    display: none;
}

#div-articlecomponent-full-article-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-sizing: border-box; // Needed for consistent width on iOS
    width: 100%; // Needed for consistent width on iOS
    @media screen and (max-width: 1200px) {
        justify-content: center;
        flex-direction: column;
    }

    #div-articlecomponent-full-article {
        display: block;
        width: 75%;
        margin-right: .75%;
        box-sizing: border-box; // Needed for consistent width on iOS
        @media screen and (max-width: 1200px) {
            width: 100%;
            margin-right: 0;
        }
    }

    #div-articlecomponent-full-article-side-card {
        display: block;
        width: 25%;
        margin-left: .75%;
        box-sizing: border-box; // Needed for consistent width on iOS
        @media screen and (max-width: 1200px) {
            width: 100%;
            margin-left: 0;
        }
    }
}

#div-article-component {
    @include flex-center;
    @include container-width;
    @include container-margin;
}