@import '../../styles/variables';

#div-articlecard-full-article-card {
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, .7), rgba(0, 0, 0, .7));
    width: 100%;
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: .2em;
    border-radius: .5%;
    border-width: .5em;
}

#div-articlecard-stitch {
    @include stitch;
}

#p-articlecard-back-link {
    @include origin-link;
    @include common-text;
    text-decoration: none;
    margin-left: 1%;
    margin-top: .5%;
    max-height: .75em;
    font-size: 200%;
    position: absolute;
    transition: $site-transition;
}

#p-articlecard-back-link:hover {
    transform: $site-transform;
}

#div-articlecard-image-title-date {
    @include flex-center;
    width: 80%;
    padding-top: 2.5em;
    margin-left: 10%;
    padding-bottom: 2.5em;
}

#div-articlecard-title-date-tags {
    @include flex-center;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}

#div-articlecard-title-date {
    @include flex-center;
    flex-direction: column;
    width: 66.6%;
}

#div-articlecard-image {
    @include flex-center;
    flex-direction: column;
    height: auto;
    width: 33.3%;
    max-width: 20em;
}

#div-articlecard-lantern {
    @include flex-center;
    flex-direction: column;
    width: 33.3%;
    max-width: 20em;
}

#div-articlecard-main-content {
    @include flex-center;
    padding-top: 2em;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

#p-articlecard-title {
    @include pm-reset;
    @include common-text;
    padding-top: 1em;
    letter-spacing: 0.03em;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    text-wrap: balance;
}

#div-articlecard-author-date {
    @include common-text;
    @include pm-reset;
    @include flex-center;
    font-size: 150%;
    letter-spacing: $site-letter-spacing;
    // flex: 1;
    white-space: nowrap; // Never wrap author name
}

#p-articlecard-author {
    @include origin-link;
    transition: $site-transition;
    text-align: center;
    margin-left: 15%;
    min-width: 80px; // Approximate size of date text -- causes seperator to be in middle of page
    margin-bottom: 0;
}

#p-articlecard-date {
    text-align: center;
    margin-right: 15%;
    margin-bottom: 0;
}

#p-articlecard-separator {
    @include separator;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}

#div-articlecard-tags {
    @include flex-center;
    flex-wrap: wrap;
    text-wrap: balance;
    margin-left: 2%;
    gap: 0 .2em;
    width: 100%;
}

.p-articlecard-tags {
    @include pm-reset;
    @include common-text;
    font-size: 150%;
    letter-spacing: $site-letter-spacing;
    padding-top: 0.5em;
    margin-left: .5em;
    margin-right: .5em;
    transition: $site-transition;
    cursor: pointer;
}

.p-articlecard-tags:hover, #p-articlecard-author:hover {
    transform: $site-transform;
}

#img-articlecard-image {
    @include common-image;
}

#p-articlecard-lantern {
    width: 100%;
    opacity: .75;
}

#p-articlecard-main-content {
    @include common-text;
    font-size: $fs-content;
    letter-spacing: 0.03em;
    width: 80%;
}

#div-articlecard-voicesynthesis {
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#select-voice {
    margin-right: .5em;
    background-color: $site-active-background-color;
    font-family: $site-font;
    font-size: 150%;
}

.material-icons {
    vertical-align: bottom; // Aligns play, stop, and pause symbols
}

#btn-read, #btn-pause {
    background-color: $site-active-background-color;
}

#btn-read:active:hover, #btn-pause:active:hover {
    background-color: $site-disabled-background-color;
}

.btn-disable {
    background-color: $site-disabled-background-color !important;
}

// Responsive styles

@media screen and (max-width: 1400px) {
    // Text styles
    #p-articlecard-title {
        font-size: 200%;
    }

    #div-articlecard-author-date {
        font-size: 140%;
    }

    #div-articlecard-tags {
        font-size: 80%;
    }

    #p-articlecard-back-link {
        font-size: 150%;
    }

    #p-articlecard-main-content {
        font-size: 180%;
    }
}

@media screen and (max-width: 700px) {
    // Text styles
    #p-articlecard-title {
        font-size: 180%;
    }

    #div-articlecard-author-date {
        font-size: 125%;
    }

    #div-articlecard-tags {
        font-size: 75%;
    }

    #p-articlecard-main-content {
        font-size: 150%;
    }
}

@media screen and (max-width: 600px) {
    // Text styles
    #p-articlecard-title {
        font-size: 160%;
    }

    #div-articlecard-author-date {
        font-size: 110%;
    }

    #div-articlecard-tags {
        font-size: 70%;
    }

    #p-articlecard-main-content {
        font-size: 140%;
    }
}

@media screen and (max-width: 500px) {
    // Text styles
    #p-articlecard-title {
        font-size: 140%;
        letter-spacing: 0.03em;
        margin-left: 4%;
    }

    #div-articlecard-author-date {
        font-size: 90%;
        margin-left: 4%;
    }

    #div-articlecard-tags {
        font-size: 60%;
        margin-left: 4%;
    }

    #p-articlecard-main-content {
        font-size: 125%;
    }
}