#div-articlecard-full-article-card {
    background-image: url('../../images/background.png');
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, .7), rgba(0, 0, 0, .7));
    width: 100%;
    border-radius: .5%;
    border-width: .5em;
    box-shadow: 0em 0em .5em .15em rgba(14, 13, 13, 0.199);
    margin-top: .75em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .2em;
    padding-bottom: .2em;
}

#div-articlecard-stitch {
    margin-left: .2em;
    margin-right: .2em;
    border-width: .1em;
    border-style: dashed;
    border-color: rgb(50, 50, 50);
}

#p-articlecard-back-link {
    margin-left: 1%;
    margin-top: .5%;
    max-height: .75em;
    font-family: Bilbo, sans-serif;
    font-size: 200%;
    position: absolute;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #818181;
    cursor: pointer;
}

#p-articlecard-back-link:hover {
    transform: scale(1.1);
}

#div-articlecard-image-title-date {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    margin-left: 10%;
    padding-bottom: 2.5em;
}

#div-articlecard-title-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66.6%;
    /* margin-left: .5em; */
}

#div-articlecard-title {
    display: flex;
    justify-content: center;
}

#div-articlecard-date {
    display: flex;
    justify-content: center;
}

#div-articlecard-image {
    display: flex;
    height: auto;
    justify-content: center;
    width: 33.3%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-articlecard-lantern {
    display: flex;
    justify-content: center;
    width: 33.3%;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-articlecard-main-content {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-right: 5%;
    padding-left: 5%;
}


#div-articlecard-title-date-tags {
    width: 100%;
}

#p-articlecard-title {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 300%;
    font-family: Bilbo, sans-serif;
    color: #818181;
    text-shadow: .05em .05em .05em #494949;
    text-align: left;
    white-space: nowrap;
    /* overflow: hidden; */
}

#div-articlecard-author-date {
    display: flex;
    justify-content: center;
}

#p-articlecard-date, #p-articlecard-author, #p-articlecard-separator {
    font-size: 150%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    font-family: Bilbo, sans-serif;
    flex: 1;
    white-space: nowrap;
}

#p-articlecard-author {
    transition: all .2s ease-in-out; 
    cursor: pointer;
    text-align: center;
    margin-left: 15%;
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

#p-articlecard-date {
    text-align: center;
    margin-right: 15%;
}

#p-articlecard-separator {
    opacity: .5;
    line-height: 100%;
    user-select: none;
    text-align: center;
}

#div-tag-stitch {
    border-bottom-width: .1em;
    border-bottom-style: solid;
    border-color: rgb(50, 50, 50);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: .5em;
    opacity: .5;
}

#div-articlecard-tags {
    display: flex;
    justify-content: center;
}

.p-articlecard-tags {
    font-size: 150%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    margin-left: .5em;
    margin-right: .5em;
    font-family: Bilbo, sans-serif;
    transition: all .2s ease-in-out; 
    cursor: pointer;
}

.p-articlecard-tags:hover, #p-articlecard-author:hover {
    transform: scale(1.1);
}

#p-articlecard-title {
    font-family: Bilbo, sans-serif;
    padding-top: 1em;
    font-weight: bold;
    font-size: 350%;
    color: #818181;
    text-shadow: .05em .05em .05em #494949;
    max-width: 20em;
    text-align: center;
}

#p-articlecard-date {
    font-family: Bilbo, sans-serif;
    font-size: 150%;
    color: #818181;
    text-shadow: .03em .03em .03em #494949;
    letter-spacing: .05em;
}

#p-articlecard-image {
    border-style: solid;
    border-width: .05em;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    border: solid rgb(50, 50, 50);
    color: #818181;
    width: 100%;
    opacity: .75;
}

#p-articlecard-lantern {
    width: 100%;
    opacity: .75;
}

#p-articlecard-main-content {
    width: 80%;
    font-family: Bilbo, sans-serif;
    font-size: 250%;
    color: #818181;
    text-shadow: .03em .03em .03em #494949;
}

.separator {
    border-bottom-style: dashed;
    border-bottom-color: rgb(50, 50, 50);
    border-bottom-width: .1em;
}

#div-articlecardcontent-tags {
    display: flex;
    justify-content: center;
}

.p-articlecardcontent-tags {
    font-size: 155%;
    color: gray;
    text-shadow: .02em .02em .02em #494949;
    letter-spacing: .05em;
    padding: 0;
    margin: 0;
    padding-top: 0.5em;
    display: flex;
    margin-left: .5em;
    margin-right: .5em;
    font-family: Bilbo, sans-serif;
    transition: all .2s ease-in-out; 
    cursor: default;
}

.p-articlecardcontent-tags:hover {
    transform: scale(1.1);
}

#div-articlecard-voicesynthesis {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.material-icons {
    vertical-align: bottom;
}

#btn-read, #btn-pause {
    background-color: #818181;
}

#btn-read:active:hover, #btn-pause:active:hover {
    background-color: #414141;
}


@media screen and (max-width: 800px) {
    #p-articlecard-title {
        font-size: 150%;
        max-width: 15em;
    }

    #p-articlecard-main-content {
        font-size: 100%;
    }

    #p-articlecard-back-link {
        font-size: 80%;
    }

    #p-articlecard-date {
        font-size: 70%;
    }

    #div-articlecard-image-title-date {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    #div-articlecard-main-content {
        padding-top: 1em;
    }
}

@media screen and (max-width: 700px) {
    #p-articlecard-back-link {
        font-size: 70%;
        margin-top: .75%;
    }
}

@media screen and (max-width: 440px) {
    #p-articlecard-back-link {
        font-size: 60%;
    }

    #p-articlecard-title {
        font-size: 120%;
    }

    #p-articlecard-main-content {
        font-size: 90%;
    }

    #p-articlecard-date {
        font-size: 70%;
    }

    #div-articlecard-main-content {
        padding-top: .5em;
    }
}