@import '../../styles/variables';

#div-articlecard-full-article-card {
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, .7), rgba(0, 0, 0, .7));
    width: 100%;
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: .2em;
    border-radius: .5%;
    border-width: .5em;
}

#div-articlecard-stitch {
    @include stitch;
}

#p-articlecard-back-link {
    @include origin-link;
    @include common-text;
    text-decoration: none;
    margin-left: 1%;
    margin-top: .5%;
    max-height: .75em;
    font-size: 200%;
    position: absolute;
    transition: $site-transition;
}

#p-articlecard-back-link:hover {
    transform: $site-transform;
}

#div-articlecard-image-title-date {
    @include flex-center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

#div-articlecard-image {
    @include flex-center;
    align-items: center;
    width: 50%;
    // margin-left: 2em;
    overflow: hidden;
    max-width: 20em;
}

#img-articlecard-image {
    @include common-image;
    width: 100%;
    object-fit: contain;
}

#div-articlecard-title-date-tags {
    @include flex-center;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    width: 50%;
}

#div-articlecard-lantern {
    @include flex-center;
    width: 33.3%;
    max-width: 20em;
}

#p-articlecard-title {
    @include pm-reset;
    @include common-text;
    padding-top: 1em;
    letter-spacing: 0.03em;
    font-size: 275%;
    font-weight: bold;
    text-align: center;
    text-wrap: balance;
}

#div-articlecard-author-date {
    @include common-text;
    @include pm-reset;
    @include flex-center;
    align-items: center;
    // text-align: center;
    font-size: 175%;
    letter-spacing: $site-letter-spacing;
    white-space: nowrap; // Never wrap author name
    gap: 0.5em;
}

#p-articlecard-author {
    @include origin-link;
    transition: $site-transition;
    text-align: right;
}

#p-articlecard-date {
    text-align: left;
}

#p-articlecard-separator {
    @include separator;
    text-align: center;
}

#p-articlecard-author,
#p-articlecard-date,
#p-articlecard-separator {
    flex: 1 1 0;
    text-align: center;
    margin: 0;
    min-width: 0; // Prevents overflow if content is long
}

#div-tag-stitch {
    border-bottom-width: .1em;
    border-bottom-style: solid;
    border-color: rgb(50, 50, 50);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: .5em;
    opacity: .5;
}

#div-articlecard-tags {
    @include flex-center;
    flex-wrap: wrap;
    text-wrap: balance;
    gap: 0 .2em;
    width: 100%;
}

.p-articlecard-tags {
    @include pm-reset;
    @include common-text;
    font-size: 150%;
    letter-spacing: $site-letter-spacing;
    padding-top: 0.5em;
    margin-left: .5em;
    margin-right: .5em;
    transition: $site-transition;
    cursor: pointer;
}

.p-articlecard-tags:hover, #p-articlecard-author:hover {
    transform: $site-transform;
}

#p-articlecard-lantern {
    width: 100%;
    opacity: .75;
}

#div-articlecard-voicesynthesis {
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#select-voice {
    margin-right: .5em;
    background-color: $site-active-background-color;
    font-family: $site-font;
    font-size: 150%;
}

.material-icons {
    vertical-align: bottom; // Aligns play, stop, and pause symbols
}

#btn-read, #btn-pause {
    background-color: $site-active-background-color;
}

#btn-read:active:hover, #btn-pause:active:hover {
    background-color: $site-disabled-background-color;
}

.btn-disable {
    background-color: $site-disabled-background-color !important;
}

// Main content styles
#div-articlecard-main-content {
    @include flex-center;
    padding-top: 2em;
    padding-right: 5%;
    padding-left: 5%;
}

#p-articlecard-main-content {
    @include common-text;
    font-size: $fs-content;
    letter-spacing: 0.03em;
}

#p-articlecard-main-content p:has(img) {
    @include flex-center;
}

#p-articlecard-main-content img {
    @include common-image;
    width: 75%;
    max-width: 15em;
}

// Responsive styles

@media screen and (max-width: 1400px) {
    // Text styles
    #p-articlecard-title {
        font-size: 225%;
    }

    #div-articlecard-author-date {
        font-size: 140%;
    }

    #div-articlecard-tags {
        font-size: 80%;
    }

    #p-articlecard-back-link {
        font-size: 150%;
    }

    #p-articlecard-main-content {
        font-size: 180%;
    }
}

@media screen and (max-width: 1000px) {
    #div-articlecard-image-title-date {
        padding-top: 1em;
        padding-bottom: 1em;
        flex-direction: column;
        align-items: center
    }

    #div-articlecard-image {
        @include pm-reset;
        justify-content: center;
    }

    #div-articlecard-title-date-tags {
        width: 100%;
    }

    #p-articlecard-title {
        padding-top: .25em;
    }

    #div-articlecard-main-content {
        padding-right: 2.5%;
        padding-left: 2.5%;
    }

    // Text styles
    #p-articlecard-title {
        font-size: 200%;
    }

    #div-articlecard-author-date {
        font-size: 150%;
    }

    #div-articlecard-tags {
        font-size: 80%;
    }

    #p-articlecard-main-content {
        font-size: 150%;
        width: 90%;
    }

    #select-voice {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    #div-articlecard-main-content {
        padding-right: .5%;
        padding-left: .5%;
    }
    
    // Text styles
    #p-articlecard-title {
        font-size: 180%;
    }

    #div-articlecard-author-date {
        font-size: 125%;
    }

    #div-articlecard-tags {
        font-size: 70%;
    }

    #p-articlecard-main-content {
        font-size: 125%;
    }
}