@use '../../config/variables' as *;

#div-articlecard-full-article-card {
    background-image: var(--site-background-image-gradient);
    box-shadow: var(--site-box-shadow);
    margin-top: $card-vertical-margin;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 15px;
    border-width: .5em;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 800px) {
        margin-top: $card-vertical-margin-mobile;
        box-shadow: var(--site-box-shadow-top);
    }

    #div-articlecard-stitch {
        @include stitch;

        #div-articlecard-back-link {
            #p-articlecard-back-link {
                @include origin-link;
                @include common-text;
                text-decoration: none;
                margin-left: .5em;
                margin-top: .5em;
                max-height: .75em;
                position: absolute;
                transition: $site-transition;
                font-size: var(--site-size-nav-full);

                @media screen and (max-width: 1400px) {
                    font-size: var(--site-size-nav-1400);
                }
                @media screen and (max-width: 800px) {
                    font-size: var(--site-size-nav-800);
                }

                &:hover {
                    transform: $site-transform;
                }
            }
        }

        #div-articlecard-image-title-date {
            @include flex-center;
            padding-top: 2.5em;
            padding-bottom: .5em;

            @media screen and (max-width: 1000px) {
                padding-top: 2em;
                flex-direction: column;
                align-items: center;
            }

            #div-articlecard-image {
                @include flex-center;
                align-items: center;
                width: 40%;
                overflow: hidden;
                max-width: 20em;
                padding-left: 2em;

                @media screen and (max-width: 1000px) {
                    @include pm-reset;
                    justify-content: center;
                }

                #img-articlecard-image {
                    @include common-image;
                    width: 80%;
                    object-fit: contain;
                }
            }

            #div-articlecard-title-date-tags {
                @include flex-center;
                flex-direction: column;
                padding-right: 4rem;
                width: 60%;

                @media screen and (max-width: 1000px) {
                    padding-right: 0;
                    padding-top: 2rem;
                    width: 100%;
                }

                #div-articlecard-title {
                    display: flex;
                    justify-content: center;
                    #p-articlecard-title {
                        @include pm-reset;
                        @include common-text;
                        padding-top: 1rem;
                        padding-bottom: .5rem;
                        letter-spacing: 0.03rem;
                        font-weight: bold;
                        text-align: center;
                        text-wrap: balance;
                        width: 100%;
                        font-size: var(--site-size-artTitle-full);

                        @media screen and (max-width: 1400px) {
                            font-size: var(--site-size-artTitle-1400);
                        }
                        @media screen and (max-width: 1000px) {
                            padding-top: .25em;
                            width: 90%;
                        }
                        @media screen and (max-width: 800px) {
                            font-size: var(--site-size-artTitle-800);
                        }
                    }
                }

                #div-articlecard-author-date-container {
                    display: flex;
                    justify-content: center;
                
                    #div-articlecard-author-date {
                        @include common-text;
                        @include pm-reset;
                        @include flex-center;
                        align-items: center;
                        letter-spacing: $site-letter-spacing;
                        white-space: nowrap;
                        gap: 0.5rem;
                        font-size: var(--site-size-artAuthDate-full);
                        width: 95%;

                        @media screen and (max-width: 1400px) {
                            font-size: var(--site-size-artAuthDate-1400);
                        }
                        @media screen and (max-width: 800px) {
                            font-size: var(--site-size-artAuthDate-800);
                        }

                        #p-articlecard-author {
                            @include origin-link;
                            line-height: 1;
                            flex: 1 1 0;
                            margin: 0;
                            min-width: 0;
                            text-wrap: balance;

                            span {
                                transition: $site-transition;
                                cursor: pointer;
                                display: inline-block; /* Essential for transform to work */

                                &:hover {
                                    transform: $site-transform;
                                }
                            }
                        }

                        #p-articlecard-separator {
                            @include separator;
                            text-align: center;
                            flex: 1 1 0;
                            margin: 0;
                            min-width: 0;

                            flex: 0 0 20%;
                            @media screen and (max-width: 800px) {
                                flex: 0 0 33.33%;
                            }
                        }

                        #p-articlecard-date {
                            line-height: 1;
                            flex: 1 1 0;
                            margin: 0;
                            min-width: 0;
                        }
                    }
                }

                .split-align-author-date {
                    #p-articlecard-author {
                        text-align: right;
                    }
                    #p-articlecard-date {
                        text-align: left;
                    }
                }

                .center-align-author-date {
                    #p-articlecard-author {
                        text-align: center;
                    }
                    #p-articlecard-date {
                        text-align: center;
                    }
                }

                #div-tag-stitch {
                    border-bottom-width: .1rem;
                    border-bottom-style: solid;
                    border-color: rgb(50, 50, 50);
                    margin-right: 20%;
                    margin-left: 20%;
                    margin-top: 1rem;
                    opacity: .5;
                }

                #div-articlecard-tags-container {
                    display: flex;
                    justify-content: center;
                }

                #div-articlecard-tags {
                    @include flex-center;
                    flex-wrap: wrap;
                    text-wrap: balance;
                    gap: 0 .2rem;
                    width: auto;
                    padding-left: 5%;
                    padding-right: 5%;

                    .p-articlecard-tags {
                        @include pm-reset;
                        @include common-text;
                        letter-spacing: $site-letter-spacing;
                        padding-top: 0.5rem;
                        margin-left: .5rem;
                        margin-right: .5rem;
                        transition: $site-transition;
                        cursor: pointer;
                        font-size: var(--site-size-artTags-full);

                        @media screen and (max-width: 1400px) {
                            font-size: var(--site-size-artTags-1400);
                        }
                        @media screen and (max-width: 800px) {
                            font-size: var(--site-size-artTags-800);
                        }

                        &:hover {
                            transform: $site-transform;
                        }
                    }
                }
            }
        }

        #div-readAloud {
            padding-top: 2em;
            #div-articlecard-voicesynthesis {
                @include flex-center;

                #select-voice {
                    margin-right: .5rem;
                    background-color: var(--site-background-color-switch-item);
                    color: black !important;
                    font-family: var(--site-font);
                    border-radius: .25rem;
                    border-width: 1px;
                    border-color: gray;
                    cursor: pointer;

                    font-size: var(--site-size-artAuthDate-full);
                    @media screen and (max-width: 1400px) {
                        font-size: var(--site-size-artAuthDate-1400);
                    }
                    @media screen and (max-width: 800px) {
                        font-size: var(--site-size-artAuthDate-800);
                    }
                }

                .material-icons {
                    vertical-align: bottom;
                }

                #btn-read,
                #btn-pause {
                    @include unset;
                    background-color: var(--site-background-color-switch-item);
                    min-width: 35px;
                    text-align: center;
                    border-radius: .25rem;
                    border-style: solid;
                    border-color: gray;
                    border-width: 1px;
                }

                #btn-read:active:hover,
                #btn-pause:active:hover {
                    background-color: var(--site-background-color-switch-item-toggle-alt);
                }

                #btn-pause {
                    margin-left: .25rem;
                }

                .btn-disable,
                .select-disable {
                    background-color: var(--site-background-color-switch-item-toggle-alt) !important;
                    cursor: default !important;
                }
            }
        }

        #div-articlecard-main-content {
            @include flex-center;
            padding-bottom: 2rem;
            padding-right: 10%;
            padding-left: 10%;
            padding-top: 2rem;
            box-sizing: border-box;

            @media screen and (max-width: 1000px) {
                padding-right: 8%;
                padding-left: 8%;
            }

            @media screen and (max-width: 800px) {
                padding-right: 5%;
                padding-left: 5%;
            }

            #p-articlecard-main-content {
                @include common-text;
                letter-spacing: 0.03rem;
                line-height: 1.5;
                box-sizing: border-box;
                font-size: var(--site-size-artContent-full);
                @media screen and (max-width: 1400px) {
                    font-size: var(--site-size-artContent-1400);
                }
                @media screen and (max-width: 800px) {
                    font-size: var(--site-size-artContent-800);
                }

                p:has(img) {
                    @include flex-center;
                }

                img {
                    @include common-image;
                    width: 75%;
                    max-width: 15rem;
                }
            }

            .content-link {
                @include common-text;
                text-decoration: "underline";
            }
        }
    }
}