// Various site styles
$site-font: Bilbo, sans-serif;
$site-letter-spacing: 0.03em;
$site-font-size-adjust: cap-height 1;

// Set variables to custom properties defined in Settings.js
$site-text-color: var(--site-theme-text-color);
$site-background-image: var(--site-theme-background-image);
$site-background-image-gradient: var(--site-theme-background-image-gradient);
$site-background-image-banner: var(--site-theme-background-image-banner);
$site-background-color-input: var(--site-theme-background-color-input);
$site-background-color-input-alt: var(--site-theme-background-color-input-alt);
$site-background-color-switch-item: var(--site-theme-background-color-switch-item);
$site-background-color-switch-item-toggle: var(--site-theme-background-color-switch-item-toggle);
$site-background-color-switch-item-toggle-alt: var(--site-theme-background-color-switch-item-toggle-alt);
$site-box-shadow: var(--site-theme-box-shadow);
$site-box-shadow-top: var(--site-theme-box-shadow-top);

$site-active-background-color: #818181; // switch item
$site-disabled-background-color: #414141; // pagination
$site-text-shadow: .05em .02em .05em #494949;
$site-hover-color: rgba(17, 17, 17, 0.5);
$site-letter-spacing: .03em;
$site-transition: all .2s ease-in-out;
$site-transform: scale(1.1);
$site-container-max-width: 1920px;
// $site-box-shadow: 0em 0em .8em .15em rgba(255, 255, 255, 0.199);
$site-box-shadow-top-reduced: 0em 0.3em .8em .05em rgba(255, 255, 255, 0.199);

// Set custom properties to previously defined variables
html {
    --site-background-image: #{$site-background-image};
    --site-background-image-gradient: #{$site-background-image-gradient};
    --site-background-image-banner: #{$site-background-image-banner};
    --site-background-color-input: #{$site-background-color-input};
    --site-background-color-input-alt: #{$site-background-color-input-alt};
    --site-background-color-switch-item: #{$site-background-color-switch-item};
    --site-background-color-switch-item-toggle: #{$site-background-color-switch-item-toggle};
    --site-background-color-switch-item-toggle-alt: #{$site-background-color-switch-item-toggle-alt};
    --site-box-shadow: #{$site-box-shadow};
    --site-box-shadow-top: #{$site-box-shadow-top};
    --site-text-color: #{$site-text-color};
    --site-font: #{$site-font};
    --site-letter-spacing: #{$site-letter-spacing};
    --site-font-size-adjust: #{$site-font-size-adjust};
}

// Site-wide font sizes
$fs-title: 250%;
$fs-description: 150%;
$fs-tags: 90%;
$fs-content: 200%;

// Top margin and padding of all cards
$card-vertical-margin: 2em;
$card-vertical-padding: .2em;
$card-vertical-margin-mobile: .5em;

// Unset base element styles (use for overriding mobile browser-enforced styling)
@mixin unset {
    all: unset;
    -webkit-appearance: none;
    appearance: none;
}

// CSS reset
@mixin pm-reset {
    padding: 0;
    margin: 0;
}

@mixin container-padding {
    padding-left: 3%;
    padding-right: 3%;
}

// Common text styles
@mixin common-text {
    color: $site-text-color;
    text-shadow: $site-text-shadow;
    font-family: var(--site-font);
}

// Common image styles
@mixin common-image {
    border-style: solid;
    border-width: .05em;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
    border: solid rgb(50, 50, 50);
    opacity: .75;
}

// Flex and center
@mixin flex-center {
    display: flex;
    justify-content: center;
}

// All same-origin site links
@mixin origin-link {
    text-decoration: underline dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    cursor: pointer;
}


// Stitch displayed on cards
@mixin stitch {
    margin-left: .2em;
    margin-right: .2em;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(50, 50, 50);
}

// Bottom stitch
@mixin stitch-bottom {
    border-bottom-width: .05em;
    border-bottom-style: dashed;
    border-bottom-color: rgb(50, 50, 50);
}

// Horizontal separator decoration
@mixin separator{
    opacity: .5;
    line-height: 100%;
    user-select: none;
    text-align: center;
}