@import '../../styles/variables';

#tagcomponent-container {
    max-width: $site-container-max-width;
    width: 100%;
}

#div-tagcomponent-card {
    display: block;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

@media screen and (max-width: 700px) {
    #tagcomponent-container {
        display: flex;
        flex-direction: column;
    }
}