@use '../../config/variables' as *;

#authorscomponent-container {
    @include flex-center;
    @include container-width;
    @include container-padding;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
    }

    #div-authorscomponent-card {
        display: block;
        @include container-width;
    }
}