@use '../../config/variables' as *;

#div-authors-component {
    @include flex-center;
    @include container-width;
    @include container-spacing;
}

#authorscomponent-container {
    @include flex-center;
    width: 100%;

    #div-authorscomponent-card {
        display: block;
        width: 100%;
    }
}
