@import '../config/variables';

#div-content-and-footer {
    @include flex-center;
}

body {
    background-image: url("../images/background.png");
}

body, html {
    @include pm-reset;
    font-family: var(--site-font);
    letter-spacing: var(--site-letter-spacing);
    font-size-adjust: var(--site-font-size-adjust);
    overflow-x: hidden; // Should "fix" width overflow of home-card and author-card
}

#appDiv {
    background-image: var(--site-background-image);
    min-height: 100vh; // full height of viewport
}