@use '../config/variables' as *;

#div-content-and-footer {
    @include flex-center;
}

body {
    background-image: url("../images/background.png");
}

body, html {
    @include pm-reset;
    font-family: var(--site-font);
    letter-spacing: var(--site-letter-spacing);
    // font-size-adjust: var(--site-font-size-adjust);
    overflow-x: hidden; // Should "fix" width overflow of home-card and author-card
}

#appDiv {
    background-image: var(--site-background-image);
    min-height: 100vh; // full height of viewport
    transition: filter 0.5s ease-in-out;
}

body.loading-active #appDiv {
    filter: blur(5px);
    pointer-events: none; // Disable interactions while blurred
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; // Ensure loader is on top
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loader-container.hidden {
    opacity: 0;
    pointer-events: none; // Disable interactions when hidden
}

// .loader {
//     border: 8px solid #818181;
//     border-top: 8px solid #414141;
//     border-radius: 50%;
//     width: 60px;
//     height: 60px;
//     animation: spin 2s linear infinite;
// }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// styles to remove white bar at bottom of page when scrolling on mobile

html, body {
  margin: 0;
  background-color: #000000; /* or your site background */
}

.main-container {
  min-height: 100%;
  min-height: 100dvh;
}

html, body {
  overscroll-behavior: none;
}