@import '../../styles/variables';

.custom-dropdown-options {
    position: absolute;
    left: 0;
    right: 0;
    top: 105%;
    z-index: 10;
    background-color: var(--site-background-color-switch-item);
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.815);
    // animation
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 
        max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s,
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

// For animation
.custom-dropdown.open .custom-dropdown-options {
    max-height: 500px; // Large enough for all options
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.first-option,
#only-option {
    border-top: none;
}

.custom-dropdown-option:hover {
    // background-color: var(--site-background-color-switch-item-toggle-alt);
    color: var(--site-text-color-alt);
}

// Text styles
.custom-dropdown {
    position: relative;
    width: var(--site-size-ddWidth-full);
    height: var(--site-size-sliderHeight-full);
    font-family: var(--site-font);
    border-radius: 34px;
    text-align: center;
    background-color: var(--site-background-color-switch-item);
    cursor: pointer;
    outline: none;
    @media screen and (max-width: 1400px) {
        width: var(--site-size-ddWidth-1400);
    }
    @media screen and (max-width: 800px) {
        width: var(--site-size-ddWidth-800);
    }
    @media screen and (max-width: 400px) {
        width: var(--site-size-ddWidth-400);
    }
}

.custom-dropdown-selected {
    @include flex-center;
    align-items: center;
    border-radius: 34px;
    background-color: var(--site-background-color-switch-item);
    height: 100%;
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 18px 18px;
    margin-right: 5px;
    font-size: var(--site-size-dropdown-full);
    @media screen and (max-width: 1400px) {
        font-size: var(--site-size-dropdown-1400);
    }
    @media screen and (max-width: 800px) {
        font-size: var(--site-size-dropdown-800);
    }
    @media screen and (max-width: 400px) {
        font-size: var(--site-size-dropdown-400);
        padding-right: 4px;
    }
}

.span-custom-dropdown-selected {
    height: 95%; // Lowers line height of text inside dropdown -- Shared value with switch-item-text
}

.custom-dropdown-option {
    cursor: pointer;
    background-color: var(--site-background-color);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--site-background-color-switch-item-toggle-alt);
    padding-top: 2%;
    font-size: var(--site-size-dropdown-full);
    @media screen and (max-width: 1400px) {
        font-size: var(--site-size-dropdown-1400);
    }
    @media screen and (max-width: 800px) {
        font-size: var(--site-size-dropdown-800);
    }
    @media screen and (max-width: 400px) {
        font-size: var(--site-size-dropdown-400);
    }
}