@import '../../styles/variables';

.custom-dropdown {
    position: relative;
    display: inline-block;
    min-width: 5.5em;
    font-family: var(--site-font);
    font-size: 150%;
    border-radius: 34px;
    text-align: center;
    margin-left: 1em;
    background-color: var(--site-background-color-switch-item);
    cursor: pointer;
    outline: none;
    margin-top: .1em;
}

.custom-dropdown-selected {
    border-radius: 34px;
    background-color: var(--site-background-color-switch-item);
    height: 1.4em;
    // background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px 20px;
    margin-right: 5px;
}

.custom-dropdown-options {
    position: absolute;
    left: 0;
    right: 0;
    top: 115%;
    z-index: 10;
    background-color: var(--site-background-color-switch-item);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    // animation
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 
        max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s,
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

// For animation
.custom-dropdown.open .custom-dropdown-options {
    max-height: 500px; // Large enough for all options
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.custom-dropdown-option {
    cursor: pointer;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--site-background-color-switch-item-toggle-alt);
}

.first-option,
#only-option {
    border-top: none;
}

.custom-dropdown-option:hover {
    // background-color: var(--site-background-color-switch-item-toggle-alt);
    color: var(--site-text-color-alt);
}

@media screen and (max-width: 800px) {
    .custom-dropdown {
        min-width: 5em;
        font-size: 120%;
    }

    .custom-dropdown-selected {
        height: 1.35em;
        line-height: 1.5;
        background-position: right 2px center;
        background-size: 16px 16px;
    }
}