@import '../../styles/variables';

#div-nav-container {
    background-image: var(--site-background-image-gradient);
}

#nav-list-desktop {
    @include flex-center;
    flex-direction: column;
    align-items: center;
}

#div-nav-list {
    width: 100%;
    max-width: 1950px;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-around;
}

#ul-nav-list {
    width: 100%;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .2%;
    padding-left: 0%;
    margin-left: 0%;
    margin-bottom: .5em;
}

#form-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-search {
    @include common-text;
    font-size: var(--site-size-search-desktop);
    background-color: var(--site-background-color-input);
    border-radius: .5em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--site-element-color-dormant);
    letter-spacing: .05em;
    padding-left: .5em;
    width: 90%;
}

#input-search:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--site-text-color);
}

#div-settings-content {
    @include flex-center;
}

#ul-settings, #ul-nav-list-mobile {
    @include pm-reset;
    @include flex-center;
    // Display is set to none initially, then gets set by hideContent function in Nav.js
    // display: none;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s cubic-bezier(0.4,0,0.2,1), opacity 0.2s; // Text fades before menu closes
}

#div-switch-items, #div-ul-nav-list-mobile-items {
    @include unselectable;
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 2 items per row
    max-width: 1500px;
    width: 100%;
    margin-bottom: .25em;
}

#div-ul-nav-list-mobile-items {
    justify-content: space-evenly;
    gap: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

#ul-settings.open {
    max-height: 1000px; // Must be larger than menu's height for transition on open/close
    opacity: 1;
}

.settings-stitch {
    @include stitch;
    width: 100%;
    margin-bottom: .75em;
    border-bottom: 0;
}

// Input search shared styles

#input-search,
#input-search-mobile {
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    background-position: 0.7em center;
    padding-left: 2.5em; // Make space for the icon
    padding-top: .2em;
}

#input-search::placeholder,
#input-search-mobile::placeholder {
    color: var(--site-element-color-dormant);
    text-shadow: none;
}

#input-search:focus::placeholder,
#input-search-mobile:focus::placeholder {
    color: var(--site-text-color);
}

// Settings (plus mobile) styles

#div-settings,
#div-settings-mobile {
    display: flex;
    align-items: center;
    margin-right: .5em;
}

#btn-settings,
#btn-settings-mobile {
    background-color: transparent;
    border: none;
}

#span-gear,
#span-gear-mobile {
    background-color: var(--site-element-color-dormant);
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20fill='black'%20d='M19.43%2012.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65a.5.5%200%2000.12-.64l-2-3.46a.5.5%200%2000-.6-.22l-2.49%201a7.007%207.007%200%2000-1.7-.98l-.38-2.65A.5.5%200%200014%202h-4a.5.5%200%2000-.5.42l-.38%202.65c-.63.24-1.21.56-1.7.98l-2.49-1a.5.5%200%2000-.6.22l-2%203.46a.5.5%200%2000.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65a.5.5%200%2000-.12.64l2%203.46c.14.24.44.33.7.22l2.49-1c.49.42%201.07.74%201.7.98l.38%202.65c.04.26.26.42.5.42h4c.24%200%20.46-.16.5-.42l.38-2.65c.63-.24%201.21-.56%201.7-.98l2.49%201c.26.11.56.02.7-.22l2-3.46a.5.5%200%2000-.12-.64l-2.11-1.65zM12%2015.5c-1.93%200-3.5-1.57-3.5-3.5S10.07%208.5%2012%208.5s3.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    display: block;
    width: 38px;
    height: 38px;
}

#span-gear.close,
#span-gear-mobile.close {
    transition: transform .4s ease-in-out;
    transform: rotate(-60deg);
}

#span-gear.open,
#span-gear-mobile.open {
    // background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(129,129,129)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.43 12.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65a.5.5 0 00.12-.64l-2-3.46a.5.5 0 00-.6-.22l-2.49 1a7.007 7.007 0 00-1.7-.98l-.38-2.65A.5.5 0 0014 2h-4a.5.5 0 00-.5.42l-.38 2.65c-.63.24-1.21.56-1.7.98l-2.49-1a.5.5 0 00-.6.22l-2 3.46a.5.5 0 00.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65a.5.5 0 00-.12.64l2 3.46c.14.24.44.33.7.22l2.49-1c.49.42 1.07.74 1.7.98l.38 2.65c.04.26.26.42.5.42h4c.24 0 .46-.16.5-.42l.38-2.65c.63-.24 1.21-.56 1.7-.98l2.49 1c.26.11.56.02.7-.22l2-3.46a.5.5 0 00-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5S10.07 8.5 12 8.5s3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></svg>');
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20fill='black'%20d='M19.43%2012.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65a.5.5%200%2000.12-.64l-2-3.46a.5.5%200%2000-.6-.22l-2.49%201a7.007%207.007%200%2000-1.7-.98l-.38-2.65A.5.5%200%200014%202h-4a.5.5%200%2000-.5.42l-.38%202.65c-.63.24-1.21.56-1.7.98l-2.49-1a.5.5%200%2000-.6.22l-2%203.46a.5.5%200%2000.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65a.5.5%200%2000-.12.64l2%203.46c.14.24.44.33.7.22l2.49-1c.49.42%201.07.74%201.7.98l.38%202.65c.04.26.26.42.5.42h4c.24%200%20.46-.16.5-.42l.38-2.65c.63-.24%201.21-.56%201.7-.98l2.49%201c.26.11.56.02.7-.22l2-3.46a.5.5%200%2000-.12-.64l-2.11-1.65zM12%2015.5c-1.93%200-3.5-1.57-3.5-3.5S10.07%208.5%2012%208.5s3.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: contain;
    transition: transform .4s ease-in-out;
    transform: rotate(60deg);
    background-color: var(--site-text-color);
}

// Switch styles

.div-switch {
    // min-width: 8em;
}

.switch {
  display: flex;
  align-items: center;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--site-background-color-switch-item-toggle-alt);
  border-radius: 34px;
  border: 1px solid gray;
  min-width: 3.5em;
  transition: background 0.4s;
  position: relative; // Remove absolute
  box-sizing: border-box;
  padding: 0 4px;
}

.slider-knob {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--site-background-color-switch-item-toggle);
  transition: transform 0.4s, background 0.4s;
  transform: translateX(0);
}

input:checked + .slider .slider-knob {
  transform: translateX(36px);
  background-color: var(--site-background-color-switch-item-toggle-alt);
}

input:checked + .slider {
  background-color: var(--site-background-color-switch-item-toggle);
}

.switch-item {
    @include flex-center;
    align-items: center;
    width: 100%;
    margin-bottom: .5em;
}

.switch-item-selection {
    @include flex-left;
    margin-left: 2.5%;
}

// Mobile styles

#nav-list-mobile {
    @include flex-center;
    align-items: center;
    max-height: 0; // Instead of display: none. Needed for transition on open/close
    overflow: hidden;
}

#div-mobile-hamburger-search {
    display: flex;
}

#form-search-mobile {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1em;
}

#input-search-mobile {
    @include common-text;
    font-size: var(--site-size-search-mobile);
    background-color: var(--site-background-color-input);
    border-radius: .5em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--site-element-color-dormant);
    letter-spacing: .05em;
    padding-left: 2.2em;
    margin-right: .25em;
    width: 100%;
    text-shadow: none;
}

#input-search-mobile:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(75, 75, 75);
}

#btn-hamburger {
    background-color: var(--site-background-color-input);
    border-radius: .5em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--site-element-color-dormant);
    margin-left: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

#btn-hamburger.open {
    border-color: $site-text-color;
}

#div-hamburger span {
    background-color: var(--site-element-color-dormant);
}

#div-hamburger span.open {
    background-color: var(--site-text-color);
}

#ul-nav-list-mobile {
    @include pm-reset;
    width: 100%;
    list-style: none;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s cubic-bezier(0.4,0,0.2,1), opacity 0.2s; // Text fades before menu closes
}

#ul-nav-list-mobile.open {
    max-height: 1000px; // Must be larger than menu's height for transition on open/close
    opacity: 1;
}

// Text styles
.switch-item-text {
    @include flex-right;
    @include common-text;
    text-wrap: nowrap;
    margin-right: 2.5%;
    font-size: var(--site-size-dropdown-full);
    @media screen and (max-width: 1400px) {
        font-size: var(--site-size-dropdown-1400);
    }
    @media screen and (max-width: 800px) {
        font-size: var(--site-size-dropdown-800);
    }
}


// Responsive styles
@media screen and (max-width: 1000px) {
    #div-switch-items {
        grid-template-columns: repeat(2, 1fr);
    }

    #div-switch-items > :nth-child(odd) {
        justify-content: right;
        padding-right: 5em;
    }

    #div-switch-items > :nth-child(even) {
        justify-content: left;
        padding-left: 5em;
    }

    .switch-item-text {
        line-height: 1.1;
        margin-top: 5px;
    }
}

@media screen and (max-width: 800px) {
    #div-nav-list {
        display: none;
    }
    
    #nav-list-mobile {
        display: block;
        max-height: fit-content;
    }

    .settings-stitch {
        margin-bottom: .4em;
    }

    #div-switch-items {
        margin-bottom: 0em;
    }

    .switch {
        width: 2.5em;
        height: 26px;
    }

    .slider-knob {
        height: 22px;
        width: 22px;
    }

    input:checked + .slider .slider-knob {
        transform: translateX(25px);
    }

    #div-switch-items > :nth-child(odd) {
        padding-right: 2.5em;
    }

    #div-switch-items > :nth-child(even) {
        padding-left: 2.5em;
    }
}

@media screen and (max-width: 500px) {
    #div-switch-items > :nth-child(odd) {
        padding-right: 2em;
    }

    #div-switch-items > :nth-child(even) {
        padding-left: 1em;
    }
}

@media screen and (max-width: 450px) {
    .switch {
        height: 22px;
    }

    .slider {
        min-width: 2.75em;
    }

    .slider-knob {
        height: 19px;
        width: 19px;
        margin-top: 0px;
        margin-left: -2px;
    }

    input:checked + .slider .slider-knob {
        transform: translateX(21px);
    }

    #div-switch-items > :nth-child(odd) {
        padding-right: 1.7em;
    }

    #div-switch-items > :nth-child(even) {
        padding-left: .25em;
    }
}