@import '../../styles/variables';

.li-nav-item {
    transition: $site-transition;
    width: 100%;
    text-align: center;
    padding-top: .5em;
}

.li-nav-item:hover {
    transform: $site-transform;
}

.li-nav-item a {
    @include common-text;
    text-decoration: none;
    font-size: 200%;
    white-space: nowrap;
}

.li-nav-item a:hover {
    color: $site-text-color; // Otherwise text turns blue
}

@media screen and (max-width: 800px) {
    .li-nav-item a {
        font-size: 200%;
    }
}

@media screen and (max-width: 600px) {
    .li-nav-item a {
        font-family: Bilbo, sans-serif;
        font-size: 150%;
    }
}