@import '../../config/variables';

.li-nav-item {
    @include unselectable;
    @include flex-center;
    align-items: center;
    transition: $site-transition;

    &:hover {
        transform: $site-transform;
    }

    a {
        @include common-text;
        font-size: var(--site-size-nav-full);
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            color: $site-text-color; // Otherwise text turns blue
        }

        @media screen and (max-width: 1400px) {
            font-size: var(--site-size-nav-1400);
        }
        @media screen and (max-width: 800px) {
            font-size: var(--site-size-nav-800);
        }
        @media screen and (max-width: 400px) {
            font-size: var(--site-size-nav-400);
        }
    }

    @media screen and (max-width: 800px) {
        padding: 0;
        text-align: center;
    }
}