@import '../../styles/variables';

#div-homesidecard-container {
    @include common-text;
    background-image: var(--site-background-image-gradient);
    border-radius: 15px;
    border-width: .5em;
    box-shadow: var(--site-box-shadow);
    margin-top: $card-vertical-margin;
    padding-top: .1em;
    padding-bottom: .1em;
}

#div-homesidecard-stitch {
    @include stitch;
}

.sections {
    padding-left: 5%;
    padding-right: 5%;
}

.section-title {
    @include common-text;
    text-align: center;
    padding-top: .5em;
    font-weight: lighter;
    font-size: 300%;
    letter-spacing: $site-letter-spacing;
    text-decoration: underline dashed gray 1px;
}

.section-content {
    @include common-text;
    letter-spacing: $site-letter-spacing;
    font-size: $fs-description;
}

.section-1-content {
    padding-top: .5em;
}

.separator {
    @include stitch-bottom;
}

#p-section-1-content {
    padding-top: 5%;
    color: $site-text-color;
}

#p-section-2-content {
    padding-top: 5%;
    color: $site-text-color;
}

#div-image-section-1 {
    @include flex-center;
}

#image-section-1-image {
    width: 75%;
    max-width: 350px;
    /* Border taken from https://codepen.io/mp/pen/kBEeKw */
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
    border: solid rgb(50, 50, 50);
}

#image-section-2-image {
    width: 100%;
    z-index:0;
    opacity: 50%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}

// Responsive styles

@media screen and (max-width: 1390px) {
    .section-title {
        font-size: 250%;
    }
}