@import '../../styles/variables';

#div-authorcard {
    background-image: var(--site-background-image-gradient);
    box-shadow: var(--site-box-shadow);
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
    transition: $site-transition;
    border-radius: 15px;
}

#div-authorcard:hover {
    background-color: var(--site-hover-color);
}

#div-authorcard.pointer {
    cursor: pointer;
}

#div-authorcard.default {
    cursor: default;
}

#div-authorcard-stitch {
    @include stitch;
}

#div-authorcard-content {
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#div-authorcard-image {
    display: flex;
    align-items: flex-end;
    width: 25%;
    max-width: 200px;
    margin-left: .5em;
    align-items: center;
    overflow: hidden;
}

#img-authorcard {
    @include common-image;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

#div-author-name-description {
    width: 75%;
}

#p-authorcard-name {
    @include common-text;
    margin-left: 2%;
    font-weight: bold;
    font-size: $fs-title; 
}

#p-authorcard-description {
    @include common-text;
    margin-left: 2%;
    font-weight: bold;
    font-size: $fs-description;
    letter-spacing: $site-letter-spacing;
}

// Responsive styles

@media screen and (max-width: 800px) {
    #div-authorcard {
        margin-top: $card-vertical-margin-mobile;
        box-shadow: var(--site-box-shadow-top);
    }
}

@media screen and (max-width: 700px) {
    #p-authorcard-name {
        font-size: 180%;
    }

    #p-authorcard-description {
        font-size:  120%;
    }

    #div-authorcard-image {
        width: 33.3%;
    }

    #div-author-name-description {
        width: 66.6%;
        margin-left: .5em;
    }
}