@import '../../styles/variables';

#div-authorcard {
    background-image: $site-background-image-gradient;
    box-shadow: $site-box-shadow;
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
    transition: $site-transition;
}

#div-authorcard:hover {
    background-color: $site-hover-color;
}

#div-authorcard-stitch {
    @include stitch;
}

#div-authorcard-content {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

#div-authorcard-image {
    @include flex-center;
    width: 25%;
    min-height: 12em;
}

#img-authorcard {
    @include common-image;
    height: 100%;
}

#div-author-name-description {
    width: 75%;
}

#p-authorcard-name {
    @include common-text;
    margin-left: 2%;
    font-weight: bold;
    font-size: 300%;
}

#p-authorcard-description {
    @include common-text;
    margin-left: 2%;
    font-weight: bold;
    font-size: 150%;
    letter-spacing: $site-letter-spacing;
}