@use '../../config/variables' as *;

#div-authorcard {
    background-image: var(--site-background-image-gradient);
    box-shadow: var(--site-box-shadow);
    margin-top: $card-vertical-margin;
    padding-top: $card-vertical-padding;
    padding-bottom: $card-vertical-padding;
    transition: $site-transition;
    border-radius: 15px;

    &.pointer {
        cursor: pointer;
    }

    &.default {
        cursor: default;
    }

    &:hover {
        background-color: var(--site-hover-color);
    }

    @media screen and (max-width: 800px) {
        margin-top: $card-vertical-margin-mobile;
        box-shadow: var(--site-box-shadow-top);
    }

    #div-authorcard-stitch {
        @include stitch;

        #div-authorcard-content {
            @include flex-center;
            margin-top: 1em;
            margin-bottom: 1em;

            #div-authorcard-image {
                @include flex-center;
                width: 25%;
                max-width: 300px;
                align-items: center;
                padding-left: 1em;
                box-sizing: border-box;

                @media screen and (max-width: 700px) {
                    width: 33.3%;
                }
                @media screen and (max-width: 550px) {
                    width: 35%;
                }

                #img-authorcard {
                    @include common-image;
                    overflow: hidden;
                    width: 100%;
                    height: 15em;
                    object-fit: cover;
                    opacity: .75;
                    display: block;

                    @media screen and (max-width: 1050px) {
                        height: 12em;
                    }
                    @media screen and (max-width: 800px) {
                        height: 10em;
                    }
                    @media screen and (max-width: 550px) {
                        height: 8em;
                    }
                    @media screen and (max-width: 425px) {
                        height: 7em;
                    }
                    @media screen and (max-width: 400px) {
                        height: 6em;
                    }
                }
            }

            #div-author-name-description {
                width: 75%;

                @media screen and (max-width: 700px) {
                    width: 66.6%;
                    margin-left: .5em;
                }
                @media screen and (max-width: 550px) {
                    width: 65%;
                    margin-left: .5em;
                }

                #p-authorcard-name {
                    @include common-text;
                    margin-left: 2%;
                    font-weight: bold;
                    font-size: var(--site-size-acName-full);

                    @media screen and (max-width: 1400px) {
                        font-size: var(--site-size-acName-1400);
                    }
                    @media screen and (max-width: 800px) {
                        font-size: var(--site-size-acName-800);
                    }
                }

                #p-authorcard-description {
                    @include common-text;
                    margin-left: 2%;
                    letter-spacing: $site-letter-spacing;
                    font-size: var(--site-size-acDesc-full);

                    @media screen and (max-width: 1400px) {
                        font-size: var(--site-size-acDesc-1400);
                    }
                    @media screen and (max-width: 800px) {
                        font-size: var(--site-size-acDesc-800);
                    }
                }
            }
        }
    }
}