body {
    background-image: url("./images/background.png");
}

body, html {
    margin:0;
    padding:0;
}

#appDiv {
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.95), rgba(0, 0, 0, 0.95));
    min-height: 100vh; // full height of viewport
}