body {
    background-image: url("./images/background3.png");
    /* background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.95), rgba(0, 0, 0, 0.95)); */
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

body, html {
    margin:0;
    padding:0;
}

#div-content-and-footer {
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.95), rgba(0, 0, 0, 0.95));
}

/* #appDiv {
    background-color: whitesmoke;
    border-style: solid;
    border-color: rgb(226, 218, 218);
    border-width: 1px;
    border-radius: 25px;
} */